@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    height: auto;
    overflow: visible;
  }
  .navbar-container {
    position: relative; /* Ensure dropdowns position correctly */
  }
  .dropdown-content {
    position: absolute; /* Ensures dropdowns are placed correctly */
    top: 100%; /* Positions the dropdown below the avatar */
    left: 0; /* Aligns dropdown with the left side of the avatar */
    z-index: 1000; /* Keeps it above other content */
  }
* {
    position: static !important; /* This is extreme, but it helps rule out fixed/sticky positioning */
  }
  

.ql-editor{
    font-size: 1.05rem;
}
.post-content p{
    margin-bottom: 0.5rem;

}
.post-content h1{
    font-size: 1.5 rem;
    font-weight: 600;
    font-family:  sans-serif;
    margin: 1.5rem 0;
}
.post-content a{
    color:rgb(73,149,199);
    text-decoration: none;
}
.post-content a:hover{
    text-decoration: underline;
}
.dark .post-content a{
    color: red;
}